.callToAction {
  margin: 100px 0px;
  height: 600px;
  position: relative;
  overflow-y: hidden;

  video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
  }

  .shadow {
    background-color: #08153777;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: inherit;
    z-index: $ui-index-1;
    width: 1200px;
    margin: 0 auto;
    padding: 200px 0;
    color: $white;
    text-shadow: $textShadow;


    &__title {
      font-family: "Space Grotesk", sans-serif;
      font-size: 3rem;
      font-weight: $fontWeightBold;
      margin-bottom: 15px;
    }

    &__text {
      font-size: 1.1rem;
      line-height: 28px;
      margin-bottom: 60px;
    }

    &__button {
      background-color: $white;
      color: $black;
      font-size: 1.2rem;
      font-weight: $fontWeightBold;
      padding: 20px 50px;
      border-radius: $borderRadius;
      transition: background-color $transitionDuration ease-in-out;
      box-shadow: $boxShadow;
      text-shadow: none;
    }

    &__button:hover {
      background-color: $brandColor;
      color: $white;
    }
  }
}

@include laptop() {
  .callToAction {
    &__container {
      width: 1000px;
    }
  }
  }
  
  @include tablet() {
    .callToAction {
      height: 600px;

      &__container {
        width: 500px;
    
        &__title {
          font-size: 2.4rem;
        }
    
        &__text {
          font-size: 1rem;
          line-height: 28px;
          margin-bottom: 50px;
        }
    
        &__button {
          font-size: 1rem;
          padding: 15px 40px;
        }
      }
    }
  }
  
  @include mobile() {
    .callToAction {
      height: 600px;

      &__container {
        width: 350px;
    
        &__title {
          font-size: 1.5rem;
        }
    
        &__text {
          text-align: center;
          font-size: .9rem;
          line-height: 18px;
          margin-bottom: 40px;
        }
    
        &__button {
          font-size: .9rem;
          padding: 15px 35px;
        }
      }
    }
  }