.cases {
  &__container {
    margin: 100px 0;
    font-family: "Space Grotesk", sans-serif;
    position: relative;

    &__header {
      width: 1200px;
      margin: 0 auto 50px;

      span {
        text-transform: uppercase;
        color: $gray;
      }

      h2 {
        font-size: 3rem;
        font-weight: $fontWeightBold;
        line-height: 60px;
        color: $brandColor;
        width: 70%;
      }
    }

    &__slider {
      height: 600px;
      display: flex;
      overflow: hidden;
      position: relative;

      .slide {
        width: 100%;

        &__content {
          color: $white;
          background-image: url('../../../public/assets/img/sectonImg/cases/1545147762023\ 3.png');
          height: 100%;
          width: 30%;
          position: absolute; 
          top: 0;
          right: 0;
          z-index: $ui-index-1;
          padding: 50px 100px;

          h3 {
            font-size: 2rem;
            font-weight: $fontWeightBold;
            margin-bottom: 30px;
          }

          p {
            font-size: 1rem;
            line-height: 20px;
            margin-bottom: 30px;
            font-family: "Poppins", sans-serif;
          }

          h4 {
            font-weight: $fontWeightBold;
            margin-bottom: 30px;
            letter-spacing: .1rem;
          } 

          .technologies {
            display: flex;
            align-items: center;
            gap: 9px; 
            margin-bottom: 130px;
.technology {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px 5px 5px;
  border: 1px solid $white;
  border-radius: $borderRadius;
  font-size: .8rem;
}
          }
          
          .points {
            display: flex;
            align-items: center;
            gap: 7px;
            &__item {
              width: 10px;
              height: 10px;
              border-radius: $borderRadius;
              background-color: rgb(196, 196, 196);
            }
          }
        }

        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
}

@include laptop() {
  .cases {
    &__container {
      &__header {
        width: 1000px;

        span {
          font-size: 1rem;
        }

        h2 {
          font-size: 2rem;
          line-height: 40px;
        }
      }

      &__slider {
        height: 600px;
      }
    }
  }
}

@include tablet() {
  .cases {
    &__container {
      margin: 100px 0 50px;

      &__header {
        width: 500px;

        span {
          font-size: 1rem;
        }

        h2 {
          font-size: 2rem;
          line-height: 30px;
          width: 100%;
        }
      }

      &__slider {
        height: 500px;
        display: flex;
        overflow: hidden;
        position: relative;

        .slide {
          video {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
    }
  }
}

@include mobile() {
  .cases {
    &__container {
      margin: 100px 0;

      &__header {
        width: 350px;

        span {
          font-size: .9rem;
        }

        h2 {
          font-size: 1.5rem;
          line-height: 30px;
        }
      }

      &__slider {
        height: 300px;
      }
    }
  }
}