.reviews {
  &__container {
    margin: 100px auto;
    width: 100%;
    max-width: 1200px;
    overflow: hidden;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        text-transform: uppercase;
        color: $gray;
      }

      h2 {
        font-size: 3rem;
        font-weight: $fontWeightBold;
        line-height: 60px;
        color: $brandColor;
      }

      &__sliderBtn {
        display: flex;
        gap: 15px;

        button {
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $lightGray;
          transition: all $transitionDuration ease;
          border-radius: 50px;

          &:hover {
            background-color: $brandColor;

            img {
              filter: invert(100%) sepia(0%) hue-rotate(7deg) brightness(116%) contrast(100%);
            }
          }
        }
      }
    }

    &__slider {
      position: relative;
      overflow: hidden;
      margin: 0 auto;
      .container {
        width: 1200px;
        margin: 30px auto;
        //overflow-x: hidden;
        display: flex;
        transition: transform $transitionDuration ease-in-out;
        gap: 10px;

        .card {
          background-color: $lightBlue;
          flex: 0 0 32.77%;
          box-sizing: border-box;
          padding: 20px;
          border-radius: 25px;

          &__container {
            background-color: $white;
            height: 360px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 20px;
            border-radius: 20px;
            margin-bottom: 20px;

            &__title {
              color: $green;
              text-decoration: underline;
              font-size: 1.2rem;
              line-height: 20px;
              font-weight: $fontWeightBold;
            }

            &__rating {
              display: flex;
              align-items: center;
              gap: 20px;

              .stars {
                color: $yellow;
              }

              .date {
                color: $darkGray;
              }
            }

            &__review {
              font-style: italic;
              line-height: 18px;
            }
          }

          &__link {
            display: flex;
            align-items: center;
            gap: 10px;

            a {
              color: $brandColor;
              font-size: 1.2rem;
              font-weight: $fontWeightBold;
              transition: all $transitionDuration ease;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }

      .points {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
        cursor: pointer;

        &__item {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #98A2B3;
          cursor: pointer;
        }

        .active {
          background-color: $brandColor;
        }
      }
    }
  }
}


@include laptop() {
  .reviews {

    &__container {
      &__header {
        width: 1000px;
        margin: 0 auto;

        span {
          font-size: 1rem;
        }

        h2 {
          font-size: 2rem;
          line-height: 40px;
        }

        &__sliderBtn {
          gap: 10px;
        }
      }

      &__slider {
        width: 1000px;
        .container {
          width: 1000px;
        }
      }
    }
  }
}

@include tablet() {
  .reviews {
    &__container {

      &__header {
        width: 500px;

        span {
          font-size: 1rem;
        }

        h2 {
          font-size: 2rem;
          line-height: 30px;
        }

        &__sliderBtn {
          button {
            width: 30px;
            height: 30px;

            img {
              width: 17px;
            }
          }
        }
      }

      &__slider {
        width: 500px;
        .container {
          width: 500px;

          .card {
            flex: 0 0 49%;

            &__container {
              height: 380px;
              gap: 10px;
              padding: 10px;

              &__title {
                font-size: 1rem;
                line-height: 18px;
              }

              &__rating {
                display: flex;
                align-items: center;
                gap: 20px;

                .stars {
                  color: rgb(219, 179, 0);
                }

                .date {
                  font-size: .7rem;
                  color: gray;
                }


              }

              &__review {
                font-size: .8rem;
              }
            }
          }
        }
      }
    }
  }
}

@include mobile() {
  .reviews {
    &__container {
      &__header {
        width: 350px;

        span {
          font-size: .9rem;
        }

        h2 {
          font-size: 1.5rem;
          line-height: 30px;
        }

        &__sliderBtn {

          button {
            width: 30px;
            height: 30px;

            img {
              width: 17px;
            }
          }
        }
      }

      &__slider {
        width: 350px;
        .container {
          width: 350px;

          .card {
            flex: 0 0 100%;

            &__container {
              height: 250px;
            }
          }
        }
      }

    }
  }
}