@import './variables';
@import './reset';
@import './mixins';
@import './media__breakpoints';
@import './fonts';


// ------------------------- sections ---------------------------

@import './sections/header';
@import './sections/hero';
@import './sections/forWhat';
@import './sections/callToAction';
@import './sections/benefits';
@import './sections/cases';
@import './sections/process';
@import './sections/reviews';
@import './sections/contacts';
@import './sections/footer';

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.no-scroll {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.menu {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $white;
  z-index: $ui-index-4;
  opacity: 0;
  display: none;
  transition: all .5s ease;
  padding: 100px 0;

  &__container {
    width: 500px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    &__close {
      position: absolute;
      right: 10px;
      top: -60px;
      cursor: pointer;

      img {
        width: 20px;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      li {
        margin-bottom: 20px;
        font-size: 1.2rem;
        text-align: center;

        a {
          color: $black;

          &:hover {
            color: $brandColorLight;
          }
        }
      }

    }
    
    .header__button {
      background-color: transparent;
      color: $brandColorLight;
      font-weight: $fontWeightBold;
      padding: 10px 50px;
      border: 1px solid $brandColorLight;
      border-radius: $borderRadius;
      transition: background-color $transitionDuration ease-in-out;
      box-shadow: $boxShadow;

      &:hover {
        background-color: $brandColorLight;
        color: $white;
      }
    }
  }
}

@include mobile() {
  .menu {
    &__container { 
      width: 350px;

      &__close {
        top: -30px;
        right: 30px;
      }
    }
  }
}


.pulseButton__container {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: $ui-index-6;

  .pulseButton {
    background: #717BBC;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    transition: all $transitionDuration ease;

    img {
      width: 37px;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
      background: rgba(113, 123, 188, 0.33);
      animation: pulse 3s infinite;
      z-index: -1;
    }

    &::after {
      animation-delay: 1s;
    }

    &:hover {
      background: #6776d4;
      transform: scale(1.1);
    }
  }
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
}
@include mobile() {
  .pulseButton__container {
    bottom: 20px;
    right: 20px;

    .pulseButton {
      width: 50px;
      height: 50px;

      img {
        width: 25px
      }

      ;

    }
  }
}